@font-face {
  font-family: "Bello";
  src: url("../Fonts/Bello Pro.otf");
}

body {
  background-color: #cdb4db;
  font-family: "Bello", sans-serif;
}

h1,
h2 {
  font-size: clamp(5rem, 1vw, 7rem);
  font-style: italic;
}

h2 {
  font-size: 5rem;
  font-style: inherit;
}

.dice {
  background: #a2d2ff;
  height: 300px;
  width: 300px;
  border-radius: 3vmin;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
}

.one-player,
.one-dice {
  grid-column: 2;
}
.two-player,
.two-dice {
  grid-column: 4;
}

.one-dice,
.two-dice {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
  justify-items: center;
}

.point {
  width: 5rem;
  border-radius: 10vmin;
  background-color: #ffafcc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1;
  }

  .one-player,
  .two-player,
  .one-dice,
  .two-dice {
    grid-column: 2;
  }

  .two-dice {
    grid-row: 4;
  }
}
